<#import "/common/cmsPage.html" as page>
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>获得所有有资源的微博用户</title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link href="../../css/movie.css" rel="stylesheet">
    <link href="../../css/cms.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container cms-main" style="width:auto">
      <div class="page-header">
        <ol class="break-crumbs">
          <li><a href="/cms" title="">返回首页</a></li>
          <li><a href="">获得所有有资源的微博用户</a></li>
        </ol>
      </div>
      <div class="content op clearfix">
          <div class="info info-w">
              <div class="sl">
                  <div class="info-row">
                      <input id="searchQuery" placeholder="搜索" class="form-control text200" name="query" type="text" value="">
                  </div>
              </div>
              <div class="sl padding-top-5">
                    <a id="searchBtn" class="padding-left-10 padding-right-10" href="javascript:;">搜&nbsp;索</a>
              </div>
          </div>
      </div>
      <div class="content clearfix">
	      <table class="table table-striped">
	        <tr>
	            <td style="width:80px"><label><input type="checkbox" id="allSel">全选</label></td>
	            <td style="width:180px">微博用户</td>
	            <td style="width:240px"">微博链接</td>
	            <td style="width:180px">已爬取数量</td>
	            <td style="width:80px"">是否爬取</td>
	            <td style="width:150px">创建时间</td>
	            <td style="width:150px">更新时间</td>
	            <td>操作</td>
	        </tr>
	        <tbody class="tbody-1">
	        <#list weiboUserListPage.listPage as weiboUser>
	            <tr>
	                <td><label><input type="checkbox" wid="${weiboUser.id}">${((weiboUser_index + 1) + (p * rowNum))?c}</label></td>
	                <td>${weiboUser.userStr}</td>
	                <td><a href="${weiboUser.userUrl}">${weiboUser.userUrl}</a></td>
	                <td>${weiboUser.commentCount}</td>
	                <td><#if (weiboUser.isSpider)?? && weiboUser.isSpider == 1>爬取<#else>不爬取</#if></td>
	                <td><#if (weiboUser.create_time)??>${weiboUser.create_time?datetime}</#if></td>
	                <td><#if (weiboUser.update_time)??>${weiboUser.update_time?datetime}</#if></td>
	                <td>
	                    <a href="javascript:;" class="spider-agin" weiboUserId="${weiboUser.id}">重新爬取</a>&nbsp;|&nbsp;<a href="#">爬取全部</a><br>
	                    <a href="#">禁止爬取</a>&nbsp;|&nbsp;<a href="#">删除</a>
	                </td>
	            </tr>
	        </#list>
	        </tbody>
	      </table>
      </div>
      <@page.paging listPage=weiboUserListPage action="" params=param urlpath="" />
      <script src="../../js/jquery.min.js"></script>
      <script src="../../js/form.js"></script>
      <script src="../../js/bootstrap.min.js"></script>
      <script src="../../js/cms.js"></script>
      <script type="text/javascript">
          $(function() {
        	  $('.spider-agin').click(function() {
        		  var $this = $(this);
        		  $.ajax({
        			  url: '/cms/weibo/spiderWeiboById',
        			  data: {'id': $this.attr('weiboUserId')},
        			  success: function() {
        				  
        			  }
        		  })
        	  });
          })
      </script>
    </div>
  </body>
</html>