<!DOCTYPE html>
<html>
  <head>
    <title>后台管理系统</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
    <link type="text/css" href="../css/cms.css" rel="stylesheet">

  </head>
  
  <body>
    <div><a href="/cms/weibo/getWeiboContentList">微博列表</a></div>
    <div>
        <p style="color:#666">cookies工具操作</p>
        <div style="margin-left:20px">
            <!-- <p><a href="/cms/cookiesUtils/updateDoubanCookies">修改豆瓣登录cookies</a></p> -->
            <p><a href="/cms/cookiesUtils/updateWeiboCookies">修改weibo's cookies</a></p>
        </div>
    </div>
    
    <div>
        <p style="color:#666">微博相关</p>
        <div style="margin-left:20px">
            <p><a href="/cms/weibo/saveWeiboUser">保存有资源的微博用户</a></p>
            <p><a href="/cms/weibo/getWeiboUserList">获得所有有资源的微博用户</a></p>
            <p><a href="/cms/weibo/spiderWeiboIndex">爬取微博电影</a></p>
        </div>
    </div>
    
  </body>
</html>
