<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../../css/movie.css" rel="stylesheet">
</head>
<body>
    <div>
        <textarea id="contentTT" style="float:left"></textarea>
        <ul style="float:left">
            <li></li>
        </ul>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/form.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('#contentTT').on('input propertychange', function() {
        	var $this = $(this);
        	$.ajax({
        		url: '/story/search',
        		method: 'get',
        		data: {'q': '我'},
        		success: function(msg) {
        			//var objArr = JSON.parse(msg);
        			for (var i = 0; i < msg.length; i++) {
        			    alert(msg[i].content);
        			}
        		}
        	});
        })
    </script>
</body>
</html>