<#macro userTop>
<div class="user-top">
    <div class="user-a">
     <img src="http://www.yikedy.com/images/default-user.png" class="user-private-image">
     <span class="user-name">${userInfo.user_name}</span>
    </div>
    <div class="user-b">
        <a href="#">修改头像</a>
        <a href="#">设置</a>
    </div>
</div>
<ul class="user-nav clearfix">
  <li class="active"><a href="#">分享的电影</a></li>
  <!-- <li class=""><a href="#">分享的合集</a></li>
  <li><a href="#">想看</a></li>
  <li><a href="#">已看</a></li> -->
</ul>
</#macro>